/* Загальні стилі для всіх списків */
ul {
  list-style-type: square;
}

/* Стилі для заголовків */
h1, h2 {
  font-family: Arial, sans-serif;
}

/* Стилі для першого розділу */
.font-formatting li {
  font-size: 18px;
  font-weight: bold;
}

/* Стилі для другого розділу */
.text-formatting {
  color: #0000FF;
  text-align: center;
  line-height: 1.5;
}

/* Стилі для третього розділу */
.spacing {
  padding: 20px;
  margin: 10px;
}

/* Стилі для четвертого розділу */
.border {
  border: 2px dotted #FF0000;
  border-radius: 10px;
}
